# Where Python fits in Data

Data Collection ‚Üí Data Cleaning ‚Üí Analysis ‚Üí Automation

     APIs            pandas        pandas     Scripts
     Files           numpy         sklearn    Airflow
     Scraping        regex         stats      Cron jobs

SQL is great at: Querying, joining, aggregating

Python is great at: Anything SQL can do + Everything else

# SQL - Python Comparision

In [ ]:
-- Moving Along from SQL, this query can be recreated in pandas (as shown in next cell)
SELECT 
    category,
    COUNT(*) AS total_items,
    AVG(price) AS avg_price
FROM analytics.products
WHERE price > 20
GROUP BY category
HAVING COUNT(*) > 1
order by category;

In [ ]:
# Same thing in Python (we'll learn how)
import pandas as pd

# Read data
products = pd.read_csv('data/products.csv')

# Filter, group, and aggregate
result = (products[products['price'] > 20]
          .groupby('category')
          .agg(total_items=('category', 'count'),
               avg_price=('price', 'mean'))
          .query('total_items > 1')
          .sort_values('category'))

result

#NOTE: Don't worry about understanding this yet. By Week 9, this will feel natural

           total_items  avg_price
category
accessory            2     39.995
computing            4    411.495

In [3]:
products

    category        product_name   price  quantity        date
0  computing       Dell inspiron  899.99         5  2024-01-15
1  computing       Dell latitude  699.99         3  2024-01-16
2  computing        Logitech m15   20.50        12  2024-01-15
3  computing        Logitech m20   25.50         8  2024-01-16
4  accessory  Logitech mouse pad   10.00        15  2024-01-15
5  accessory     Dell laptop bag   49.99         7  2024-01-16
6  accessory   HP wireless mouse   30.00        10  2024-01-15
7  accessory        HP mouse pad   12.00        20  2024-01-16

## ETL Pattern (Summary)

1. EXTRACT - Get data

    data = read_from_source()
    


2. TRANSFORM - Clean and process

    for record in data:

        cleaned = clean_record(record)

        processed_data.append(cleaned)


3. LOAD - Save results

    save_to_destination(processed_data)

# Part 2: Hands-on Python Basics

In [13]:
print("Hello, Data World!")

Hello, Data World!

### Part 1: Variables and Data Types

What's Happening?
Variables are containers for data. Unlike SQL where you work with columns, in Python you create individual named containers.

- Strings: Text data (like VARCHAR in SQL)
- Integers: Whole numbers
- Floats: Decimal numbers
- Booleans: True/False values

üí° Clean Code Tip: Use descriptive names with underscores between words (snake_case)

In [ ]:
# Storing data in variables
company_name = "TechCorp"   # String
employee_count = 1250       # Integer
average_salary = 75000.50   # Float
is_public = True            # Boolean

# Display our data
print(f"Company: {company_name}")
print(f"Employees: {employee_count}")
print(f"Avg Salary: ${average_salary}")
print(f"Public? {is_public}")

Company: TechCorp
Employees: 1250
Avg Salary: $75000.5
Public? True

### Part 2: Lists (Your First Data Structure)
What's Happening?

Lists are ordered collections of items. Think of them as a single column from a SQL table.

- Access items using index (starting at 0)
- Add items with .append()
- Get length with len()

üí° Clean Code Tip: Use plural names for lists (sales_regions not sales_region)

In [72]:
category= ["computing", "accessory"]
random_list= ["computing", 123, 45.67, True]

random_list

['computing', 123, 45.67, True]

In [ ]:
# Creating lists (like arrays/columns)
sales_regions = ["North", "South", "East", "West"]
q1_sales = [125000, 98000, 142000, 117000]

# Accessing data
print(f"First region: {sales_regions[0]}")
print(f"Its sales: ${q1_sales[0]}")



# How many regions?
print(f"Total regions: {len(sales_regions)}")

First region: North
Its sales: $125000
Total regions: 4

In [90]:

# Adding new data
sales_regions.append("Central")
q1_sales.append(105000)

sales_regions

['North', 'South', 'East', 'West', 'Central']

In [91]:
q1_sales

[125000, 98000, 142000, 117000, 105000]

In [92]:
# Remove region and sales at index 2 ("East")
sales_regions.pop()

# How many regions?
print(f"Total regions: {len(sales_regions)}")

Total regions: 4

In [ ]:
# Saving removed list. item into a variable
var= sales_regions.pop()
var

In [ ]:
# Inserting a new region at index 1
sales_regions.insert(1, "North-East")

In [98]:
sales_regions

['North', 'North-East', 'South', 'East']

In [ ]:
# Storing data in variables
company_name = "TechCorp"   # String
employee_count = 1250       # Integer
average_salary = 75000.50   # Float
is_public = True            # Boolean


# Storing data in variables
company_name = "TechBros"   # String
employee_count = 150       # Integer
average_salary = 7000.50   # Float
is_public = False            # Boolean

# These numerous properties for companies can be grouped into a dictionary

# Storing data in variables
companies= {'techcorp':{'company_name': "TechCorp", 'employee_count': 1250, 'average_salary':75000.50,  'is_public': True },   'techbros':{'company_name': "TechBros", 'employee_count': 150, 'average_salary':7000.50,  'is_public': False }}
companies_list= [{'company_name': "TechCorp", 'employee_count': 1250, 'average_salary':75000.50,  'is_public': True },  {'company_name': "TechBros", 'employee_count': 150, 'average_salary':7000.50,  'is_public': False }]


companies

{'techcorp': {'company_name': 'TechCorp',
  'employee_count': 1250,
  'average_salary': 75000.5,
  'is_public': True},
 'techbros': {'company_name': 'TechBros',
  'employee_count': 150,
  'average_salary': 7000.5,
  'is_public': False}}

In [ ]:
# Adding a new company
companies['techbros'] = {'company_name': "TechBros", 'employee_count': 150, 'average_salary':7000.50,  'is_public': False }

companies

{'techcorp': {'company_name': 'TechCorp',
  'employee_count': 1250,
  'average_salary': 75000.5,
  'is_public': True},
 'techbros': {'company_name': 'TechBros',
  'employee_count': 150,
  'average_salary': 7000.5,
  'is_public': False}}

### Part 3: Dictionaries (Key-Value Pairs)

Dictionaries store data in key-value pairs. Like a single row where column names are keys.

- Access values using keys in square brackets
- Add new keys anytime
- Update values by reassigning

üí° This is huge for data work! JSON APIs return dictionaries, config files use them, and they're the foundation of DataFrames.

In [29]:
# Dictionary = like a single row from SQL
employee = {
    "id": 1001,
    "name": "Sarah Chen",
    "department": "Data Analytics",
    "salary": 95000,
    "remote": True
}

# Accessing values
print(f"Employee: {employee['name']}")
print(f"Department: {employee['department']}")

# Adding new information
employee["years_experience"] = 5

# Updating existing info
employee["salary"] = 98000
print(f"New salary: ${employee['salary']}")
print('\n')
print(employee)

Employee: Sarah Chen
Department: Data Analytics
New salary: $98000


{'id': 1001, 'name': 'Sarah Chen', 'department': 'Data Analytics', 'salary': 98000, 'remote': True, 'years_experience': 5}

In [30]:
del employee["remote"] # Remove 'remote' key
print("Removed 'remote' key:", employee)

print(employee)

Removed 'remote' key: {'id': 1001, 'name': 'Sarah Chen', 'department': 'Data Analytics', 'salary': 98000, 'years_experience': 5}
{'id': 1001, 'name': 'Sarah Chen', 'department': 'Data Analytics', 'salary': 98000, 'years_experience': 5}

### Part 4: Simple Data Processing

What's Happening?

This structure (list of dictionaries) is exactly how data comes from APIs and databases!

- Each dictionary is like a row
- Keys are like column names
- We loop through to process each row

üí° Why This Matters: This is the foundation of ETL! You're extracting data, transforming it (calculating profit), and could easily save results.

In [113]:
sales_data = [
    {"month": "Jan", "revenue": 125000, "costs": 80000},
    {"month": "Feb", "revenue": 135000, "costs": 85000},
    {"month": "Mar", "revenue": 118000, "costs": 78000}
]


for dict in sales_data:
    print(dict)
    print('\n')

{'month': 'Jan', 'revenue': 125000, 'costs': 80000}


{'month': 'Feb', 'revenue': 135000, 'costs': 85000}


{'month': 'Mar', 'revenue': 118000, 'costs': 78000}

In [121]:
# List of dictionaries = like a SQL table!

sales_data = [
    {"month": "Jan", "revenue": 125000, "costs": 80000},
    {"month": "Feb", "revenue": 135000, "costs": 85000},
    {"month": "Mar", "revenue": 118000, "costs": 78000}
]

# Calculate profit for each month
for month_data in sales_data:
    profit = month_data["revenue"] - month_data["costs"]
    print(f"{month_data['month']}: ${profit} profit")

# Calculate total revenue
total_revenue = 0
for month_data in sales_data:
    print(f"adding {month_data['revenue']} to total_reveue which is currently {total_revenue}")
    total_revenue += month_data["revenue"]
    
print(f"\nQ1 Total Revenue: ${total_revenue}")

Jan: $45000 profit
Feb: $50000 profit
Mar: $40000 profit
adding 125000 to total_reveue which is currently 0
adding 135000 to total_reveue which is currently 125000
adding 118000 to total_reveue which is currently 260000

Q1 Total Revenue: $378000

# Dataframes
### The core of Data Processing

In [124]:
df_sales

  month  revenue  costs
0   Jan   125000  80000
1   Feb   135000  85000
2   Mar   118000  78000

In [ ]:
import pandas as pd


sales_data = [
    {"month": "Jan", "revenue": 125000, "costs": 80000},
    {"month": "Feb", "revenue": 135000, "costs": 85000},
    {"month": "Mar", "revenue": 118000, "costs": 78000}
]

# Read and convert sales_data to DataFrame
df_sales = pd.DataFrame(sales_data)

# Calculate profit for each month
df_sales['profit'] = df_sales['revenue'] - df_sales['costs']
print(df_sales[['month', 'profit']])

# Calculate total revenue
total_revenue_df=df_sales['revenue'].sum()
print(f"\nQ1 Total Revenue: ${total_revenue_df}")

  month  profit
0   Jan   45000
1   Feb   50000
2   Mar   40000

Q1 Total Revenue: $378000

In [128]:
# Store the cleaned data to a new CSV file
df_sales.to_csv('data/q1_sales_report.csv', index=False)

In [ ]:
# Mini ETL Demo: Cleaning Messy Sales Data
# This is what you'll build together in class

import csv

# EXTRACT: Read messy data
print("STEP 1: EXTRACTING DATA")
print("-" * 40)

# Simulating reading a CSV file with messy data
# raw_sales_data = pd.read_csv("messy_sales.csv") 
raw_sales_data= [
    ["  product_name", "price ", "  quantity", "date"],
    ["  laptop DELL  ", "899.99", "5 ", "2024-01-15"],
    ["LAPTOP dell", " 899.99 ", "3", "2024-01-16"],
    ["  mouse logitech ", "25.50", " 12 ", "2024-01-15"],
    ["Mouse LOGITECH", "25.5", "8  ", "2024-01-16"],
    ["KEYBOARD MECHANICAL  ", " 120.00", "  7", "2024-01-15"]
]

print("Raw data loaded. Sample row:")
print(raw_sales_data[1])
print()

# TRANSFORM: Clean the messy data
print("STEP 2: TRANSFORMING DATA")
print("-" * 40)

cleaned_data = []
header = ["product_name", "price", "quantity", "date", "total_value"]

for i, row in enumerate(raw_sales_data):
    if i == 0:  # Skip header
        continue
    
    # Clean each field
    product = row[0].strip().lower().replace(' ', '_')  # Remove leading & trailing spaces, lowercase and replace spaces with underscores

    
    price = float(row[1].strip())
    quantity = int(row[2].strip())
    date = row[3].strip()
    
    # Calculate total value
    total_value = round(price * quantity, 2)
    
    # Create cleaned row
    cleaned_row = [product, price, quantity, date, total_value]
    cleaned_data.append(cleaned_row)
    
    print(f"Cleaned: {product:20} | ${price:7.2f} | Qty: {quantity:3} | Total: ${total_value:8.2f}")

print()

# AGGREGATE: Summary statistics
print("STEP 3: AGGREGATING DATA")
print("-" * 40)

# Calculate totals by product
product_totals = {}
for row in cleaned_data:
    product = row[0]
    total_value = row[4]
    
    if product in product_totals:
        product_totals[product] += total_value
    else:
        product_totals[product] = total_value

print("Sales Summary by Product:")
for product, total in product_totals.items():
    print(f"  {product:20} : ${total:,.2f}")

print()
print(f"Grand Total: ${sum(product_totals.values()):,.2f}")
print()

# LOAD: Save cleaned data 
print("STEP 4: SAVING CLEANED DATA")
print("-" * 40)
print("Writing to: cleaned_sales_data.csv")
pd.DataFrame(cleaned_data, columns=header).to_csv('data/ABC_cleaned_sales_data.csv', index=False)
pd.DataFrame(product_totals.items(), columns=['product', 'total_sales']).to_csv('data/ABC_sales_summary.csv', index=False)

print("\n‚úÖ ETL Pipeline Complete!")
print(f"Processed {len(cleaned_data)} records")

# BONUS: Clean Code Examples
print("\n" + "="*50)
print("CLEAN CODE PRINCIPLES DEMONSTRATED:")
print("="*50)

print("""
1. Descriptive variable names:
   ‚ùå BAD:  d = []
   ‚úÖ GOOD: cleaned_data = []

2. Clear section comments:
   # EXTRACT: Read messy data
   # TRANSFORM: Clean the messy data

3. Consistent formatting:
   - All products lowercase with underscores
   - All prices as floats with 2 decimals
   - All quantities as integers

4. Simple, readable logic:
   - One transformation per step
   - No nested complexity
""")

STEP 1: EXTRACTING DATA
----------------------------------------
Raw data loaded. Sample row:
['  laptop DELL  ', '899.99', '5 ', '2024-01-15']

STEP 2: TRANSFORMING DATA
----------------------------------------
Cleaned: laptop_dell          | $ 899.99 | Qty:   5 | Total: $ 4499.95
Cleaned: laptop_dell          | $ 899.99 | Qty:   3 | Total: $ 2699.97
Cleaned: mouse_logitech       | $  25.50 | Qty:  12 | Total: $  306.00
Cleaned: mouse_logitech       | $  25.50 | Qty:   8 | Total: $  204.00
Cleaned: keyboard_mechanical  | $ 120.00 | Qty:   7 | Total: $  840.00

STEP 3: AGGREGATING DATA
----------------------------------------
Sales Summary by Product:
  laptop_dell          : $7,199.92
  mouse_logitech       : $510.00
  keyboard_mechanical  : $840.00

Grand Total: $8,549.92

STEP 4: SAVING CLEANED DATA
----------------------------------------
Writing to: cleaned_sales_data.csv

‚úÖ ETL Pipeline Complete!
Processed 5 records

==================================================
CLEAN CODE PRINCIPLES DEMONSTRATED:
==================================================

1. Descriptive variable names:
   ‚ùå BAD:  d = []
   ‚úÖ GOOD: cleaned_data = []

2. Clear section comments:
   # EXTRACT: Read messy data
   # TRANSFORM: Clean the messy data

3. Consistent formatting:
   - All products lowercase with underscores
   - All prices as floats with 2 decimals
   - All quantities as integers

4. Simple, readable logic:
   - One transformation per step
   - No nested complexity

In [131]:
df

    category        PRODUCT_NAME   price   Quantity        date
0  computing       Dell inspiron   899.99       5.0  2024-01-15
1  computing       Dell latitude   699.90       3.0  2024-01-16
2  Computing        LOGITECH m15    20.00      12.0  2024-01-15
3  computing        Logitech m20    25.50       8.0  2024-01-16
4  accessory  Logitech mouse pad    10.00      15.0  2024-01-15
5  ACCESSORY     Dell laptop bag    49.99       7.0  2024-01-16
6  Accessory   HP wireless mouse    30.00      10.0  2024-01-15
7  accessory        HP mouse pad    12.00      20.0  2024-01-16

In [ ]:
# Mini ETL Demo: Cleaning Messy Sales Data with pandas

import pandas as pd
import os

print("STEP 1: EXTRACTING DATA")
print("-" * 40)


# Convert to DataFrame
df = pd.read_csv('data/messy_sales.csv')
df.columns = [col.strip().lower() for col in df.columns]

print("Raw data loaded. Sample row:")
print(df.iloc[0])
print()

print("STEP 2: TRANSFORMING DATA")
print("-" * 40)


df['product_name'] = df['product_name'].astype(str).str.strip().str.lower().str.replace(' ', '_')

# Clean price and quantity
df['price'] = df['price'].astype(float)
df['quantity'] = df['quantity'].astype(int)
df['date'] = df['date'].astype(str).str.strip()

# Calculate total_value
df['total_value'] = (df['price'] * df['quantity']).round(2)

for idx, row in df.iterrows():
    print(f"Cleaned: {row['product_name']:20} | ${row['price']:7.2f} | Qty: {row['quantity']:3} | Total: ${row['total_value']:8.2f}")

print()

print("STEP 3: AGGREGATING DATA")
print("-" * 40)

product_totals = df.groupby('product_name')['total_value'].sum()

print("Sales Summary by Product:")
for product, total in product_totals.items():
    print(f"  {product:20} : ${total:,.2f}")

print()
print(f"Grand Total: ${product_totals.sum():,.2f}")
print()

print("STEP 4: LOADING CLEANED DATA")
print("-" * 40)
print("Writing to: cleaned_sales_data.csv")

dump_dir='dat'

if os.path.exists(dump_dir):
   df.to_csv(f'{dump_dir}/TESTABC_cleaned_sales_data_df_01.csv', columns=header, index=False)
else:
   os.mkdir(dump_dir)
   df.to_csv(f'{dump_dir}/TESTABC_cleaned_sales_data_df.csv',  columns=header, index=False)

print("Writing to: sales_summary.csv")
pd.DataFrame(product_totals.items(), columns=['product', 'total_sales']).to_csv('data/ABC_sales_summary_df.csv', index=False)
df.to_sql()
print(df.head(3).to_string(index=False))

print("\n‚úÖ ETL Pipeline Complete!")
print(f"Processed {len(df)} records")

print("\n" + "="*50)
print("CLEAN CODE PRINCIPLES DEMONSTRATED:")
print("="*50)

print("""
1. Descriptive variable names:
   ‚ùå BAD:  d = []
   ‚úÖ GOOD: df = pd.DataFrame(...)

2. Clear section comments:
   # EXTRACT: Read messy data
   # TRANSFORM: Clean the messy data

3. Consistent formatting:
   - All products lowercase with underscores
   - All prices as floats with 2 decimals
   - All quantities as integers

4. Simple, readable logic:
   - One transformation per step
   - No nested complexity
""")

STEP 1: EXTRACTING DATA
----------------------------------------
Raw data loaded. Sample row:
category            computing
product_name    Dell inspiron
price                  899.99
quantity                  5.0
date               2024-01-15
Name: 0, dtype: object

STEP 2: TRANSFORMING DATA
----------------------------------------
Cleaned: dell_inspiron        | $ 899.99 | Qty:   5 | Total: $ 4499.95
Cleaned: dell_latitude        | $ 699.90 | Qty:   3 | Total: $ 2099.70
Cleaned: logitech_m15         | $  20.00 | Qty:  12 | Total: $  240.00
Cleaned: logitech_m20         | $  25.50 | Qty:   8 | Total: $  204.00
Cleaned: logitech_mouse_pad   | $  10.00 | Qty:  15 | Total: $  150.00
Cleaned: dell_laptop_bag      | $  49.99 | Qty:   7 | Total: $  349.93
Cleaned: hp_wireless_mouse    | $  30.00 | Qty:  10 | Total: $  300.00
Cleaned: hp_mouse_pad         | $  12.00 | Qty:  20 | Total: $  240.00

STEP 3: AGGREGATING DATA
----------------------------------------
Sales Summary by Product:
  dell_inspiron        : $4,499.95
  dell_laptop_bag      : $349.93
  dell_latitude        : $2,099.70
  hp_mouse_pad         : $240.00
  hp_wireless_mouse    : $300.00
  logitech_m15         : $240.00
  logitech_m20         : $204.00
  logitech_mouse_pad   : $150.00

Grand Total: $8,083.58

STEP 4: LOADING CLEANED DATA
----------------------------------------
Writing to: cleaned_sales_data.csv
Writing to: sales_summary.csv
 category  product_name  price  quantity       date  total_value
computing dell_inspiron 899.99         5 2024-01-15      4499.95
computing dell_latitude 699.90         3 2024-01-16      2099.70
Computing  logitech_m15  20.00        12 2024-01-15       240.00

‚úÖ ETL Pipeline Complete!
Processed 8 records

==================================================
CLEAN CODE PRINCIPLES DEMONSTRATED:
==================================================

1. Descriptive variable names:
   ‚ùå BAD:  d = []
   ‚úÖ GOOD: df = pd.DataFrame(...)

2. Clear section comments:
   # EXTRACT: Read messy data
   # TRANSFORM: Clean the messy data

3. Consistent formatting:
   - All products lowercase with underscores
   - All prices as floats with 2 decimals
   - All quantities as integers

4. Simple, readable logic:
   - One transformation per step
   - No nested complexity

# Clea Code Pratice
### Sport the Difference

In [ ]:
# A
# processing sales data
d = [125000,98000,142000,117000]
r = ["North","South","East","West"]
t=0
for i in range(len(d)):
  x=d[i]*1.1  
  t=t+x
  print(r[i]+": "+str(x))
print("total: "+str(t))


# more processing
emp={'n':'john','s':75000,'d':'IT'}
if emp['s']>70000:
  b=emp['s']*0.15
else:
  b=emp['s']*0.1
print(emp['n']+" bonus: "+str(b))

In [ ]:
#B 

# Calculate Q1 sales with 10% growth projection
q1_sales = [125000, 98000, 142000, 117000]
sales_regions = ["North", "South", "East", "West"]
growth_rate = 0.10

total_projected = 0
for region, sales in zip(sales_regions, q1_sales):
    projected_sales = sales * (1 + growth_rate)
    total_projected += projected_sales
    print(f"{region}: ${projected_sales:,.2f}")

print(f"Total Projected: ${total_projected:,.2f}")


# Calculate employee bonus based on salary tier
employee = {
    'name': 'John',
    'salary': 75000,
    'department': 'IT'
}

HIGH_SALARY_THRESHOLD = 70000
HIGH_BONUS_RATE = 0.15
STANDARD_BONUS_RATE = 0.10

if employee['salary'] > HIGH_SALARY_THRESHOLD:
    bonus_amount = employee['salary'] * HIGH_BONUS_RATE
else:
    bonus_amount = employee['salary'] * STANDARD_BONUS_RATE

print(f"{employee['name']} bonus: ${bonus_amount:,.2f}")

In [ ]:
# What students can type to practice

print("\n" + "="*50)
print("SIMPLE VERSION TO TYPE:")
print("="*50)

# Simple data cleaning example
messy_name = "  JOHN SMITH  "
clean_name = messy_name.strip().title() # Remove spaces, capitalize each word
print(f"Before: '{messy_name}'")
print(f"After:  '{clean_name}'")

# Working with a price
messy_price = " 29.99 "
clean_price = float(messy_price.strip()) # Remove spaces, convert to float
total = clean_price * 5
print(f"5 items at ${clean_price} = ${total}")