## Week 8: Loops and Conditionals
##### Data-Focused Control Flow in Python



##### PART 1: WHY LOOPS AND CONDITIONS MATTER IN DATA (10 minutes)


How do you process 10,000 rows of data?
- You can't manually write 10,000 lines of code
- You need LOOPS to repeat operations
- You need CONDITIONS to handle different scenarios

Real Data Challenges That Need These Tools:
1. Filter out invalid records (conditions)
2. Process each row in a dataset (loops)
3. Apply different calculations based on categories (conditions)
4. Aggregate data until a threshold is met (loops + conditions)

##### PART 2: CONDITIONALS - TEACHING PYTHON TO MAKE DECISIONS

In [ ]:
# =============================================================================
# PART 2: CONDITIONALS - TEACHING PYTHON TO MAKE DECISIONS 
# =============================================================================


# -----------------------------------------------------------------------------
# Basic If Statements
# -----------------------------------------------------------------------------

# Simple threshold check (like SQL WHERE clause)
revenue = 125000
# revenue2= 250000


if revenue > 100000:
    print(f"Revenue ${revenue:,} - Profitable quarter!")

# Stock level check
quantity = 15
if quantity < 10: #(is 15 < 10)
    print("Low stock - need to reorder")

Revenue $125,000 - Profitable quarter!

In [3]:
# -----------------------------------------------------------------------------
# If-Else: Binary Decisions (this or that)
# -----------------------------------------------------------------------------

# Customer classification
customerA_orders = 47

if customerA_orders >= 50:
    customer_type = "Premium"
    discount = 0.20
else:
    customer_type = "Standard"
    discount = 0.10

print(f"Customer Type: {customer_type}")
print(f"Discount: {discount*100:.0f}%")

Customer Type: Standard
Discount: 10%

In [ ]:
# -----------------------------------------------------------------------------
# If-Elif-Else: Multiple Conditions
# -----------------------------------------------------------------------------

# Sales commission tiers (common business logic)
sales_amount = 110000

if sales_amount >= 100000:
    commission_rate = 0.15

elif sales_amount >= 50000:
    commission_rate = 0.10
    tier = "Gold"

    tier = "Platinum"
elif sales_amount >= 25000:
    commission_rate = 0.07
    tier = "Silver"
else:
    commission_rate = 0.05
    tier = "Bronze"

commission = sales_amount * commission_rate
print(f"Sales: ${sales_amount:,}")
print(f"Tier: {tier}")
print(f"Commission: ${commission:,.2f}")

Sales: $110,000
Tier: Gold
Commission: $11,000.00

In [ ]:
# -----------------------------------------------------------------------------
# If-Elif-Else: Multiple Conditions
# Either order of conditions matters, or use logical operators
# -----------------------------------------------------------------------------
# if-elif-else with reordered conditions

# Sales commission tiers (common business logic)
sales_amount = 110000

if  sales_amount >= 25000 and sales_amount < 50000: # no
    commission_rate = 0.07
    tier = "Silver"

elif sales_amount >= 50000 and sales_amount < 100000: # no
    commission_rate = 0.10
    tier = "Gold"

elif  sales_amount >= 100000 : # yes
    commission_rate = 0.15
    tier = "Platinum"

else:
    commission_rate = 0.05
    tier = "Bronze"

commission = sales_amount * commission_rate
print(f"Sales: ${sales_amount:,}")
print(f"Tier: {tier}")
print(f"Commission: ${commission:,.2f}")

Sales: $110,000
Tier: Platinum
Commission: $16,500.00

In [ ]:
# -----------------------------------------------------------------------------
# Combining Conditions with AND/OR Operators. 
# -----------------------------------------------------------------------------


# Product eligibility check
price = 45.99
category = "electronics"
in_stock = True

# Using AND (all conditions must be true)
if price < 50 and category == "electronics" and in_stock: # yes and yes and yes | True
    print("✓ Eligible for flash sale")

# Using OR (at least one condition must be true)
payment_method = "credit"
if payment_method == "cash" or payment_method == "credit": # no or yes | true
    print("✓ Valid payment method")

# More elegant with 'in'. (Membership test)
if payment_method in ["cash", "credit", "debit"]: # yes | true
    print("✓ Payment accepted")

✓ Eligible for flash sale
✓ Valid payment method
✓ Payment accepted

##### PART 3: LOOPS - PROCESSING DATA AT SCALE

In [ ]:
# =============================================================================
# PART 3: LOOPS - PROCESSING DATA AT SCALE 
# =============================================================================

# -----------------------------------------------------------------------------
# For Loops with Lists
# -----------------------------------------------------------------------------

# Processing sales data
monthly_sales = [125000, 98000, 142000, 117000, 156000, 134000]

total = 0

for sales in monthly_sales:
    total += sales
    print(f"Processing: ${sales:,} | Running total: ${total:,}")

average = total / len(monthly_sales)
print(f"\nTotal: ${total:,}")
print(f"Average: ${average:,.2f}")

Processing: $125,000 | Running total: $125,000
Processing: $98,000 | Running total: $223,000
Processing: $142,000 | Running total: $365,000
Processing: $117,000 | Running total: $482,000
Processing: $156,000 | Running total: $638,000
Processing: $134,000 | Running total: $772,000

Total: $772,000
Average: $128,666.67

In [17]:
len(monthly_sales)

6

In [19]:
total

772000

In [ ]:
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun"]

for item in list(months):
    print(item)

(0, 'Jan')
(1, 'Feb')
(2, 'Mar')
(3, 'Apr')
(4, 'May')
(5, 'Jun')

In [32]:
list(enumerate(months))

[(0, 'Jan'), (1, 'Feb'), (2, 'Mar'), (3, 'Apr'), (4, 'May'), (5, 'Jun')]

In [25]:
# -----------------------------------------------------------------------------
# For Loops with Enumerate (Getting Index and Value)
# -----------------------------------------------------------------------------
# Monthly sales with month names

months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun"]
monthly_sales = [125000, 98000, 142000, 117000, 156000, 134000]

for index, month in enumerate(months):
    sales = monthly_sales[index]
    print(f"{index+1}. {month}: ${sales:,}")

1. Jan: $125,000
2. Feb: $98,000
3. Mar: $142,000
4. Apr: $117,000
5. May: $156,000
6. Jun: $134,000

In [ ]:
# -----------------------------------------------------------------------------
# For Loops through Dictionaries
# -----------------------------------------------------------------------------

employee = {
    "name": "Sarah Chen",
    "department": "Data Analytics",
    "salary": 95000,
    "years": 3
}

# Loop through keys
print("Keys only:")
for key in employee.keys():
    print(f"  {key}")

# Loop through values
print("\nValues only:")
for value in employee.values():
    print(f"  {value}")

# Loop through both (most common in data work)
print("\nKey-Value pairs:")
for key, value in employee.items():
    print(f"  {key}: {value}")

Keys only:
  name
  department
  salary
  years

Values only:
  Sarah Chen
  Data Analytics
  95000
  3

Key-Value pairs:
  name: Sarah Chen
  department: Data Analytics
  salary: 95000
  years: 3

In [ ]:
# -----------------------------------------------------------------------------
# While Loops (Use with Caution!)
# -----------------------------------------------------------------------------

# Accumulate until threshold

# Accumulate monthly expenses until budget exceeded.
budget = 100000
expenses = [25000, 18000, 32000, 15000, 22000, 28000] # len = 6

total_spent = 0
month = 0

print(f"Budget: ${budget:,}")
while total_spent < budget and month < len(expenses): # at the first iteation, total_spent = 0 < 100000 month = 0 < 6 | True
    total_spent += expenses[month]
    month += 1
    print(f"Month {month}: Spent ${expenses[month-1]:,} | Total: ${total_spent:,}")

if total_spent > budget:
    print(f"⚠️ Budget exceeded in month {month}!")

Budget: $100,000
Month 1: Spent $25,000 | Total: $25,000
Month 2: Spent $18,000 | Total: $43,000
Month 3: Spent $32,000 | Total: $75,000
Month 4: Spent $15,000 | Total: $90,000
Month 5: Spent $22,000 | Total: $112,000
⚠️ Budget exceeded in month 5!

##### PART 4: COMBINING LOOPS AND CONDITIONS

In [41]:
# =============================================================================
# PART 4: COMBINING LOOPS AND CONDITIONS
# =============================================================================

# -----------------------------------------------------------------------------
# Filtering Data
# -----------------------------------------------------------------------------


transactions = [
    {"id": 1001, "amount": 250.00, "type": "sale", "status": "completed"},
    {"id": 1002, "amount": 125.50, "type": "refund", "status": "pending"},
    {"id": 1003, "amount": 450.00, "type": "sale", "status": "completed"},
    {"id": 1004, "amount": 75.00, "type": "sale", "status": "failed"},
    {"id": 1005, "amount": 380.00, "type": "sale", "status": "completed"},
]

# Calculate total completed sales
total_sales = 0
completed_count = 0

for transaction in transactions:
    if transaction["type"] == "sale" and transaction["status"] == "completed":
        total_sales += transaction["amount"]
        completed_count += 1
        print(f"Transaction {transaction['id']}: ${transaction['amount']}")

print(f"\nTotal completed sales: ${total_sales:,.2f}")
print(f"Number of completed sales: {completed_count}")

Transaction 1001: $250.0
Transaction 1003: $450.0
Transaction 1005: $380.0

Total completed sales: $1,080.00
Number of completed sales: 3

In [46]:
# -----------------------------------------------------------------------------
# Data Validation and Cleaning
# -----------------------------------------------------------------------------

# Raw data with issues
raw_prices = ["29.99", "45.50", "invalid", "32.00", "-15", "78.25", ""]

clean_prices = []
invalid_count = 0

for price_str in raw_prices:
    # Skip empty strings
    if not price_str:
        invalid_count += 1
        continue
    
    # Try to convert to float
    try:
        price = float(price_str)
        # Validate the price
        if price > 0:
            clean_prices.append(price)
            print(f"✓ Valid price: ${price:.2f}")
        else:
            print(f"✗ Invalid: negative price ({price})")
            invalid_count += 1
    except ValueError:
        print(f"✗ Invalid: not a number ('{price_str}')")
        invalid_count += 1

print(f"\nCleaned {len(clean_prices)} prices")
print(f"Rejected {invalid_count} invalid entries")
print(f"Clean prices: {clean_prices}")

✓ Valid price: $29.99
✓ Valid price: $45.50
✗ Invalid: not a number ('invalid')
✓ Valid price: $32.00
✗ Invalid: negative price (-15.0)
✓ Valid price: $78.25

Cleaned 4 prices
Rejected 3 invalid entries
Clean prices: [29.99, 45.5, 32.0, 78.25]

In [ ]:
# -----------------------------------------------------------------------------
# Categorizing Data
# -----------------------------------------------------------------------------


orders = [
    {"product": "Laptop", "quantity": 2, "price": 899.99},
    {"product": "Mouse", "quantity": 15, "price": 25.50},
    {"product": "Monitor", "quantity": 5, "price": 299.99},
    {"product": "Webcam", "quantity": 3, "price": 125.00},
    {"product": "Keyboard", "quantity": 8, "price": 79.99},
]

# Categorize by order value
high_value = []
medium_value = []
low_value = []

# Webcam
for order in orders:
    order_total = order["quantity"] * order["price"]
    order["total"] = order_total  # Add calculated field
    
    if order['product'] == 'Webcam':
        print("Work in progress for webcam")
        break
        
    #NOTE: the order of conditions matters. If we swapped the first two conditions, all orders >= 500 would be classified as MEDIUM
    if order_total >= 1500:
        high_value.append(order)
        category = "HIGH"
    elif order_total >= 500:
        medium_value.append(order)
        category = "MEDIUM"
    else:
        low_value.append(order)
        category = "LOW"
    
    print(f"{order['product']:12} | Qty: {order['quantity']:2} | "
          f"Total: ${order_total:8,.2f} | {category}")

else:
    print("\nBreak was triggered")


print(f"\nHigh value orders: {len(high_value)}")
print(f"Medium value orders: {len(medium_value)}")
print(f"Low value orders: {len(low_value)}")

Laptop       | Qty:  2 | Total: $1,799.98 | HIGH
Mouse        | Qty: 15 | Total: $  382.50 | LOW
Monitor      | Qty:  5 | Total: $1,499.95 | MEDIUM
Work in progress for webcam

High value orders: 1
Medium value orders: 1
Low value orders: 1

##### PART 5: LIST COMPREHENSIONS

In [47]:
# =============================================================================
# PART 5: LIST COMPREHENSIONS - PYTHONIC DATA PROCESSING 
# =============================================================================

# Traditional loop
prices = [29.99, 45.50, 32.00, 78.25]

discounted = []
for price in prices:
    discounted.append(price * 0.9)

print("Traditional loop result:", discounted)

# List comprehension (same result, one line!)
discounted_ = [price * 0.9 for price in prices]
print("List comprehension result:", discounted_)

# With condition
high_prices = [price for price in prices if price > 40]
print("Filtered prices > 40:", high_prices)

Traditional loop result: [26.991, 40.95, 28.8, 70.425]
List comprehension result: [26.991, 40.95, 28.8, 70.425]
Filtered prices > 40: [45.5, 78.25]

In [48]:
# More complex example
sales_data = [
    {"month": "Jan", "amount": 125000},
    {"month": "Feb", "amount": 98000},
    {"month": "Mar", "amount": 142000},
]

# Extract months with the amounts > 100000
high_months = [month_data["month"] for month_data in sales_data if month_data["amount"] > 100000]
print("Months with sales > 100k:", high_months)

Months with sales > 100k: ['Jan', 'Mar']

##### PRACTICE EXERCISES


Exercise 1: Customer Discount Calculator
- If purchase > $200: 20% discount
- Elif purchase > $100: 10% discount  
- Elif purchase > $50: 5% discount
- Else: no discount

Exercise 2: Data Quality Checker
Loop through this data and count valid vs invalid emails:
emails = ["john@example.com", "invalid-email", "sarah@company.co", "bad@"]

Exercise 3: Sales Report
Given monthly_sales list, find:
- Months above average
- Best and worst month
- Running total by month

Exercise 4: Inventory Alert System
Loop through products and flag any with quantity < 10 as "low stock"



##### COMMON MISTAKES TO AVOID

1. INFINITE LOOPS

   ``` ❌ while True:  # without a break condition```

   ```✓ while count < max_count:```


2. OFF-BY-ONE ERRORS

   ``` ❌ for i in range(1, len(items)):  # skips first item```

   ``` ✓ for i in range(len(items)):```


3. MODIFYING LIST WHILE LOOPING

   ```
   ❌ for item in items:

         items.remove(item)  # Changes list size!
   ```


   ``` ✓ items = [item for item in items if condition]```


4. FORGETTING BREAK/CONTINUE
   - break: exits the loop entirely
   - continue: skips to next iteration
   
5. WRONG COMPARISON OPERATORS

   ```❌ if payment = "cash":  # Assignment, not comparison!```

   ```✓ if payment == "cash":```